<% include header.ejs %>
<div class="container">
    <div class="page-header">
        <h1 align="center">博主个人主页 </h1>
    </div>
</div>

<div class="container">
    <div class="row row-offcanvas row-offcanvas-right">

        <div class="col-xs-12 col-sm-3">
            <div class="row" align="center">
                <ul class="list-group">
                    <li class="list-group-item active"><strong>个人简介</strong></li>
                    <li class="list-group-item"><img src="/images/people.jpg"  alt="头像" width="100%" /><br/><span>博主</span></li>
                    <li class="list-group-item"><strong>ALL</strong><span class="badge"><a href="index.html" style="color:white">999+</a></span></li>
                    <li class="list-group-item"><strong>NEW</strong><span class="badge"><a href="index.html" style="color:white">99+</a></span></li>
                    <li class="list-group-item"><strong>JS基础</strong><span class="badge"><a href="index.html" style="color:white">99+</a></span></li>
                    <li class="list-group-item"><strong>DOM</strong><span class="badge"><a href="index.html" style="color:white">99+</a></span></li>
                    <li class="list-group-item"><strong>vue</strong><span class="badge"><a href="index.html" style="color:white">99+</a></span></li>
                </ul>
            </div>        </div><!--/.col-xs-12.col-sm-9-->

        <div class="col-xs-6 col-sm-9 sidebar-offcanvas">
            <div class="list-group">
                <li class="list-group-item active">个人资料</li>
                <li class="list-group-item"><h4>姓名: GehongWu</h4></li>
                <li class="list-group-item"><h4>生日: 1998.03.05</h4></li>
                <li class="list-group-item"><h4><span style="color: red;">个人经历:</span><span><br/><br/> 目前就读于华南某工大学<br/><br/><br/><br/><br/><br/><br/><br/></span></h4></li>
                <li class="list-group-item"><h4><span style="color: red;">个人简介:</span><span><br/><br/> 本人擅长Ai、Fw、Fl、Br、Ae、Pr、Id、Ps等软件的安装与卸载，精通CSS、Javascr ipt、PHP、ASP、C、C＋＋、C#、Java、Ruby、Perl、Lisp、python、Objective-C、Actionscr ipt、Pascal等单词的拼写，熟悉Windows、Linux、Mac、Android、IOS、WP8等系统的开关机<br/><br/><br/><br/><br/><br/></span></h4></li>
            </div>
        </div><!--/.sidebar-offcanvas-->
    </div><!--/row-->

<br/><br/><br/><br/><br/><br/><br/><br/><br/>
<% include footer.ejs %>