<% include header.ejs %>
<div class="page-header">
    <h3 align="center">Want to get in touch with me?<br/>Fill out the form below to send me a message and I will try to get back to you within 24 hours! </h1>
</div>
<form class="form-horizontal" method="post">
    <div class="container">
        <div class="row">
            <div class="form-group col-xs-6 col-sm-4"></div>
            <div class="form-group col-xs-6 col-sm-4">
                <div align="center">
                    <label for="Name" class="logintext">Name</label>
                    <input class="form-control" id="name" type="text" name="name"></input>
                </div>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="form-group col-xs-6 col-sm-4"></div>
            <div class="form-group col-xs-6 col-sm-4">
                <div align="center">
                    <label for="Email" class="logintext">Email</label>
                    <input class="form-control" id="email" type="text" name="email"></input>
                </div>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="form-group col-xs-6 col-sm-4"></div>
            <div class="form-group col-xs-6 col-sm-4">
                <div align="center">
                    <label for="Phone Number" class="logintext">Phone Number</label>
                    <input class="form-control" id="phone" type="text" name="phone"></input>
                </div>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="form-group col-xs-6 col-sm-4"></div>
            <div class="form-group col-xs-6 col-sm-4">
                <div align="center">
                    <label for="Message" class="logintext">Message</label>
                    <textarea class="form-control" name="message" type="text" rows="5"></textarea>
                </div>
            </div>
        </div>
        <br/>
    </div>
    <br/>
    <div class="row">
        <div class="form-group col-xs-6 col-sm-4"></div>
        <div class="form-group col-xs-6 col-sm-4">
            <div align="center">
                <div class="btn-group btn-group-lg" >
                    <button type="submit" class="btn btn-default" id="send">Send</button>
                </div>
            </div>
        </div>
    </div>
    <br/><br/><br/><br/><br/>
</form>
<% include footer.ejs %>