<% include header.ejs %>
<div class="page-header">
    <h1 align="center">Modify<br/></h1>
</div>

<form class="form-horizontal" method="post">
    <div class="container">
            <div class="form-group col-xs-12">
                <label for="post-title" class="logintext">Title:<%= title %></label><br/>
                <br/>
                <label for="post-introduce" class="logintext">introduce</label><br/>
                <input class="form-control" type="text" name="introduce" value="<%= introduce %>"></input>
                <br/>
                <label for="label" class="logintext">Label</label><br/>
                <input class="form-control" type="text" name="label" value="<%= label %>"></input>
            </div>
    </div>
    <div class="container">
        <script id="editor" name="post" type="text/plain" style="height:500px;"><%= post %></script>
        <script>
            var ue = UE.getEditor('editor');
        </script>
        <br/>
        <button type="submit" class="btn btn-default" id="post">Modify</button>
    </div>

</form>

<br/><br/><br/><br/><br/>
<% include footer.ejs %>